In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
from collections import Counter
print(os.listdir())

['Python для анализа данных.ipynb', '.config', 'Music', '.condarc', 'Мой_ноутбук_Python_A5_Общее_знакомство_с_Pandas.ipynb', 'log.csv', 'Мой ноутбук Python A4 Функции.ipynb', 'Untitled1.ipynb', '[SF-DST] Movies IMBD v3.0.ipynb', 'Мой ноутбук Python A3 Строковые величины.ipynb', '.DS_Store', 'VirtualBox VMs', 'Python B5-B6 (26.04.2020).ipynb', '.CFUserTextEncoding', 'StudentsPerformance.csv', 'Untitled.ipynb', '.adobe', 'Мой ноутбук_Python_9_Библиотека_Numpy.ipynb', 'users.csv', 'projects', 'Pictures', 'movies_example.txt', 'Мой ноутбук_Python_A8_очистка данных.ipynb', 'Мой_ноутбук_Python_6_Методы_группировки_данных.ipynb', 'Python A3 (23.02.2020).ipynb', 'sample.csv', 'Untitled2.ipynb', '.ipython', 'Desktop', 'Library', 'Мой ноутбук_модуль А2.ipynb', '.matplotlib', 'data.csv', 'Python Pandas (27.10.2019).ipynb', 'data.json', '.cups', 'ratings.csv', '.bash_sessions', 'Notebook 2020', 'ratings_example.txt', 'Первый notebook 2020.ipynb', 'Public', 'Python Data cleaning (3.11.2019).ipynb', 'Мой ноутбук_Python_7 Объединение таблиц.ipynb', '.anaconda', '.ssh', 'Movies', 'Applications', 'Python Pandas (27.10.2019)_2.ipynb', 'GitHub. Быстрый старт.ipynb', '.Trash', 'train.csv', '.ipynb_checkpoints', 'Python A1-2 (02.02.2020).ipynb', 'my first notebook.ipynb', '.jupyter', 'Documents', 'data_sf.csv', '.vscode', 'movies.csv', '.bash_profile', 'data', 'anaconda3', 'Downloads', '.gitconfig', '.bash_history', "PlayOnMac's virtual drives", '.conda']

In [3]:
data = pd.read_csv('/Users/Vasily/data.csv')
data.head(6)

,imdb_id,popularity,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year
0,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,Colin Trevorrow,The park is open.,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/2015,5562,6.5,2015
1,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,George Miller,What a Lovely Day.,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/2015,6185,7.1,2015
2,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,Robert Schwentke,One Choice Can Destroy You,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/2015,2480,6.3,2015
3,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,J.J. Abrams,Every generation has a story.,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/2015,5292,7.5,2015
4,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,James Wan,Vengeance Hits Home,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/2015,2947,7.3,2015
5,tt1663202,9.110700,135000000,532950503,The Revenant,Leonardo DiCaprio|Tom Hardy|Will Poulter|Domhn...,Alejandro GonzÃ¡lez IÃ±Ã¡rritu,"(n. One who has returned, as if from the dead.)","In the 1820s, a frontiersman, Hugh Glass, sets...",156,Western|Drama|Adventure|Thriller,Regency Enterprises|Appian Way|CatchPlay|Anony...,12/25/2015,3929,7.2,2015

In [9]:
len(data)

1890

# Предобработка датасета

In [5]:
answer_ls = [] # создадим список с ответами. сюда будем добавлять ответы по мере прохождения теста
# сюда можем вписать создание новых колонок в датасете
answer_ls

[]

# 1. У какого фильма из списка самый большой бюджет?
Варианты ответов:
1. The Dark Knight Rises (tt1345836)
2. Spider-Man 3 (tt0413300)
3. Avengers: Age of Ultron (tt2395427)
4. The Warrior's Way	(tt1032751)
5. Pirates of the Caribbean: On Stranger Tides (tt1298650)

In [58]:
# тут вводим ваш ответ и добавлем в его список ответов (сейчас для примера стоит "1")
answer_ls = []
max_budget = data[data.budget == data.budget.max()]
max_budget['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [229]:
answer_ls.append(4)

# 2. Какой из фильмов самый длительный (в минутах)
1. The Lord of the Rings: The Return of the King	(tt0167260)
2. Gods and Generals	(tt0279111)
3. King Kong	(tt0360717)
4. Pearl Harbor	(tt0213149)
5. Alexander	(tt0346491)

In [56]:
display(data[data.runtime == data.runtime.max()]['original_title'])

1158    Gods and Generals
Name: original_title, dtype: object

In [230]:
answer_ls.append(2)

In [231]:
answer_ls

[4, 2]

# 3. Какой из фильмов самый короткий (в минутах)
Варианты ответов:

1. Home on the Range	tt0299172
2. The Jungle Book 2	tt0283426
3. Winnie the Pooh	tt1449283
4. Corpse Bride	tt0121164
5. Hoodwinked!	tt0443536

In [7]:
display(data[data.runtime==data.runtime.min()]['original_title'])

769    Winnie the Pooh
Name: original_title, dtype: object

In [232]:
answer_ls.append(3)

# 4. Средняя длительность фильма?

Варианты ответов:
1. 115
2. 110
3. 105
4. 120
5. 100

In [76]:
data.runtime.mean()
data.describe()

,popularity,budget,revenue,runtime,vote_count,vote_average,release_year
count,1890.000000,1.890000e+03,1.890000e+03,1890.000000,1890.000000,1890.000000,1890.000000
mean,1.560611,5.450696e+07,1.552890e+08,109.653439,785.666667,6.140899,2007.861905
std,1.849471,4.931705e+07,2.146386e+08,18.013641,1068.725880,0.764584,4.467929
min,0.010335,5.000000e+06,2.033165e+06,63.000000,10.000000,3.300000,2000.000000
25%,0.643284,2.000000e+07,3.434007e+07,97.000000,164.000000,5.600000,2004.000000
50%,1.065065,3.800000e+07,8.358664e+07,106.500000,389.000000,6.100000,2008.000000
75%,1.804537,7.200000e+07,1.782136e+08,120.000000,937.750000,6.600000,2012.000000
max,32.985763,4.250000e+08,2.781506e+09,214.000000,9767.000000,8.100000,2015.000000

In [233]:
answer_ls.append(2)

# 5. Средняя длительность фильма по медиане?
Варианты ответов:
1. 106
2. 112
3. 101
4. 120
5. 115

In [234]:
answer_ls.append(1)

# 6. Какой самый прибыльный фильм?
Варианты ответов:
1. The Avengers	tt0848228
2. Minions	tt2293640
3. Star Wars: The Force Awakens	tt2488496
4. Furious 7	tt2820852
5. Avatar	tt0499549

In [59]:
## Создадим новую колонку profit

data['profit']=data.loc[:]['revenue']-data.loc[:]['budget']

## Долго вспоминал как отфильтровать датафрейм. Вспомнил 2 варианта:

small_data = data.query('original_title in ["The Avengers","Minions","Star Wars: The Force Awakens", "Furious 7","Avatar"]')


small_data6 = data.loc[data['original_title'].isin(["The Avengers","Minions","Star Wars: The Force Awakens", "Furious 7","Avatar"])]

## Если есть более простой способ выведения искомого значения, буду благодарен за обратную связь. 

small_data6[small_data6.profit==small_data6.profit.max()]['original_title']

239    Avatar
Name: original_title, dtype: object

In [235]:
answer_ls.append(5)

# 7. Какой фильм самый убыточный?
Варианты ответов:
1. Supernova tt0134983
2. The Warrior's Way tt1032751
3. Flushed Away	tt0424095
4. The Adventures of Pluto Nash	tt0180052
5. The Lone Ranger	tt1210819

In [4]:
### Поспешил с ответом на платформе, так как интерпретировал убыточность как минимальное значение прибыли. Вот что значит установка.

## Создадим новую колонку profit

data['profit']=data.loc[:]['revenue']-data.loc[:]['budget']

small_data7 = data.query('imdb_id in ["tt0134983","tt1032751","tt0424095","tt0180052","tt1210819"]')
small_data7[small_data7.profit==small_data7.profit.min()]['original_title']

491    The Warrior's Way
Name: original_title, dtype: object

In [236]:
answer_ls.append(2)

In [237]:
answer_ls

[4, 2, 3, 2, 1, 5, 2]

# 8. Сколько всего фильмов в прибыли?
Варианты ответов:
1. 1478
2. 1520
3. 1241
4. 1135
5. 1398

In [238]:
data[data.revenue>data.budget]['original_title'].count()

1478

In [239]:
answer_ls.append(1)

In [262]:
answer_ls

[4, 2, 3, 2, 1, 5, 2, 1, 1]

# 9. Самый прибыльный фильм в 2008 году?
Варианты ответов:
1. Madagascar: Escape 2 Africa	tt0479952
2. Iron Man	tt0371746
3. Kung Fu Panda	tt0441773
4. The Dark Knight	tt0468569
5. Mamma Mia!	tt0795421

In [263]:
## сначала фильтрую все фильмы по 2008 году
small_data9 = data[(data.release_year==2008)]
## потом выбираю в отсортированном датафрейме фильм с максимальным revenue
small_data9[small_data9.revenue==small_data9.revenue.max()]['original_title']

600    The Dark Knight
Name: original_title, dtype: object

In [ ]:
answer_ls.append(4)

# 10. Самый убыточный фильм за период с 2012 по 2014 (включительно)?
Варианты ответов:
1. Winter's Tale	tt1837709
2. Stolen	tt1656186
3. Broken City	tt1235522
4. Upside Down	tt1374992
5. The Lone Ranger	tt1210819

In [266]:
small_data10 = data[(data['release_year']>2012)&(data['release_year']<2014)]
small_data10[small_data10['profit']==small_data10['profit'].min()]['original_title']

1246    The Lone Ranger
Name: original_title, dtype: object

In [ ]:
answer_ls.append(5)

# 11. Какого жанра фильмов больше всего?
Варианты ответов:
1. Action
2. Adventure
3. Drama
4. Comedy
5. Thriller

In [ ]:
### Ребята, ну вы же этого не поясняли. Я не понимаю почему задания в ноутбуке и на платформе 
#### по-разному звучат и комментарии типа - функции можно было найти в предложенных в начале материалах это не катит вообще.
#### Их так много, что голова кругом.

In [302]:
pd.DataFrame(data.genres.str.split('|').tolist()).stack().value_counts()

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [ ]:
answer_ls.append(3)

# 12. Какого жанра среди прибыльных фильмов больше всего?
Варианты ответов:
1. Drama
2. Comedy
3. Action
4. Thriller
5. Adventure

In [31]:
pd.DataFrame(data[data['profit']>0].genres.str.split('|').tolist()).stack().value_counts()

Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
dtype: int64

In [ ]:
answer_ls.append(1)

# 13. Кто из режиссеров снял больше всего фильмов?
Варианты ответов:
1. Steven Spielberg
2. Ridley Scott 
3. Steven Soderbergh
4. Christopher Nolan
5. Clint Eastwood

In [61]:
pd.DataFrame(data.director.str.split('|').tolist()).stack().value_counts().head()
pd.DataFrame(data.director.str.split('|').tolist()).stack()

0     0                   Colin Trevorrow
1     0                     George Miller
2     0                  Robert Schwentke
3     0                       J.J. Abrams
4     0                         James Wan
5     0    Alejandro GonzÃ¡lez IÃ±Ã¡rritu
6     0                       Alan Taylor
7     0                      Ridley Scott
8     0                        Kyle Balda
      1                     Pierre Coffin
9     0                       Pete Docter
10    0                        Sam Mendes
11    0                    Lana Wachowski
      1                   Lilly Wachowski
12    0                      Alex Garland
13    0                    Chris Columbus
14    0                       Joss Whedon
15    0                 Quentin Tarantino
16    0                   Olivier Megaton
17    0                       Peyton Reed
18    0                   Kenneth Branagh
19    0                  Francis Lawrence
20    0                         Brad Bird
21    0                     Antoine Fuqua
22    0                       Brad Peyton
23    0                Sam Taylor-Johnson
24    0                        Adam McKay
25    0             Christopher McQuarrie
26    0                   Seth MacFarlane
27    0                    Matthew Vaughn
                        ...
1861  0                   Martin Campbell
1862  0                John Frankenheimer
1863  0                        Steve Carr
1864  0                   Patrick Lussier
1865  0               George Tillman, Jr.
1866  0                   Robert Zemeckis
1867  0                  William Friedkin
1868  0                      Gus Van Sant
1869  0                     Robert Iscove
1870  0                        Kevin Lima
1871  0                       Peter Segal
1872  0                     Edward Norton
1873  0                       Walter Hill
      1                      Jack Sholder
1874  0                  Christian Duguay
1875  0                       David Raynr
1876  0                    Jon Turteltaub
1877  0               Douglas Aarniokoski
1878  0             Gina Prince-Bythewood
1879  0                  Davis Guggenheim
1880  0                    Philip Kaufman
1881  0                  Courtney Solomon
1882  0                   Reginald Hudlin
1883  0                     Brian Robbins
1884  0                       Bonnie Hunt
1885  0                      Bryan Singer
1886  0                          Uli Edel
1887  0                       Des McAnuff
1888  0                      Diane Keaton
1889  0                      Mary Lambert
Length: 2054, dtype: object

In [ ]:
answer_ls.append(3)

# 14. Кто из режиссеров снял больше всего Прибыльных фильмов?
Варианты ответов:
1. Steven Soderbergh
2. Clint Eastwood
3. Steven Spielberg
4. Ridley Scott
5. Christopher Nolan

In [94]:
pd.DataFrame(data[data['profit']>0].director.str.split('|').tolist()).stack().value_counts()

Ridley Scott             12
Clint Eastwood           10
Steven Soderbergh        10
Steven Spielberg         10
Tim Burton                9
Shawn Levy                9
Peter Farrelly            8
Michael Bay               8
Robert Rodriguez          8
Christopher Nolan         8
Brett Ratner              8
Peter Jackson             8
Antoine Fuqua             8
Adam Shankman             7
M. Night Shyamalan        7
Todd Phillips             7
Bobby Farrelly            7
Robert Zemeckis           6
Adam McKay                6
Andy Fickman              6
Ron Howard                6
Francis Lawrence          6
Zack Snyder               6
David Fincher             6
Peter Segal               6
Gore Verbinski            6
Paul W.S. Anderson        6
Louis Leterrier           6
Sam Raimi                 6
Dennis Dugan              6
                         ..
Mike Flanagan             1
Rupert Wainwright         1
Grant Heslov              1
Peter Howitt              1
Guy Ferland               1
Daniel Barber             1
Ciaran Foy                1
GrÃ©gory Levasseur        1
Jay Chandrasekhar         1
Scott Speer               1
Russell Mulcahy           1
Tom Vaughan               1
Jim Jarmusch              1
Tom Hanks                 1
Angela Robinson           1
Todd Strauss-Schulson     1
Chris Nahon               1
Gregory Plotkin           1
Dave Green                1
Simon Wincer              1
George A. Romero          1
Anthony Minghella         1
Barry Levinson            1
Wally Pfister             1
Cory Edwards              1
Jon Avnet                 1
James DeMonaco            1
Shari Springer Berman     1
Chris Rock                1
Jon Amiel                 1
Length: 814, dtype: int64

In [269]:
### Придумал еще такое решение
import pandas as pd
dict ={}
list = data[data['profit']>0].director.str.split('|').tolist()
profit = data['profit']
for names in list:
    for name in names:
        if name in dict:
            dict[name]+=1
        else:
            dict[name]=1
import collections
c = collections.Counter()
for actor in dict:
    c[actor] += float(dict[actor])
my_data = pd.Series(data=c)
my_data.sort_values(ascending = False)

Ridley Scott           12.0
Clint Eastwood         10.0
Steven Spielberg       10.0
Steven Soderbergh      10.0
Tim Burton              9.0
Shawn Levy              9.0
Antoine Fuqua           8.0
Christopher Nolan       8.0
Peter Jackson           8.0
Michael Bay             8.0
Brett Ratner            8.0
Robert Rodriguez        8.0
Peter Farrelly          8.0
Adam Shankman           7.0
Bobby Farrelly          7.0
M. Night Shyamalan      7.0
Todd Phillips           7.0
Dennis Dugan            6.0
Louis Leterrier         6.0
Paul W.S. Anderson      6.0
Adam McKay              6.0
Raja Gosnell            6.0
Ron Howard              6.0
Sam Raimi               6.0
Peter Segal             6.0
Robert Zemeckis         6.0
Zack Snyder             6.0
Quentin Tarantino       6.0
Andy Fickman            6.0
David Fincher           6.0
                       ...
Jonathan Frakes         1.0
Mark Pellington         1.0
Mark Romanek            1.0
Donovan Cook            1.0
Robin Budd              1.0
Marcus Raboy            1.0
Michael Rymer           1.0
Adrian Lyne             1.0
Rupert Sanders          1.0
Juan Antonio Bayona     1.0
Michael J. Bassett      1.0
Rich Moore              1.0
Ole Bornedal            1.0
John Gulager            1.0
Asger Leth              1.0
Daniel Espinosa         1.0
James Watkins           1.0
James Mather            1.0
Stephen St. Leger       1.0
Jeff Newitt             1.0
John Hillcoat           1.0
Nima Nourizadeh         1.0
Mike McCoy              1.0
Scott Speer             1.0
Rian Johnson            1.0
Michael Sucsy           1.0
Peter Ramsey            1.0
Drew Goddard            1.0
Stephen Chbosky         1.0
Colin Trevorrow         1.0
Length: 814, dtype: float64

In [280]:
### А как создать список состоящий не из спиской а отдельных элементов - имен с помощью цикла. 
### Не могу понять мы можем применять перебор с помощью For к DF?

In [ ]:
answer_ls.append(4)

# 15. Кто из режиссеров принес больше всего прибыли?
Варианты ответов:
1. Steven Spielberg
2. Christopher Nolan
3. David Yates
4. James Cameron
5. Peter Jackson

In [102]:
data.groupby(['director'])['profit'].sum().sort_values(ascending=False).head(5)

director
Peter Jackson        5202593685
David Yates          3379295625
Christopher Nolan    3162548502
J.J. Abrams          2839169916
Michael Bay          2760938960
Name: profit, dtype: int64

In [ ]:
answer_ls.append(5)

# 16. Какой актер принес больше всего прибыли?
Варианты ответов:
1. Emma Watson
2. Johnny Depp
3. Michelle Rodriguez
4. Orlando Bloom
5. Rupert Grint

In [42]:
import pandas as pd
import collections
def actor_profit(data):
    dict = {}
    for i in range(len(data)):
        names = data['cast'][i].str.split('|').tolist()
        profits = data['profit'][i]/len(names)
        for name in names:
            for actor in name:
                if actor in dict:
                    dict[actor]+=profits
                else:
                    dict[actor]=0
return dict

dict

dict

In [57]:
import pandas as pd
import collections
def actor_profit(data):
    dict = {}
    for i in range(len(data)):
        names = data['cast'][i].str.split('|').tolist()
        profits = data['profit'][i]/len(names)
        for name in names:
            for actor in name:
                if actor in dict:
                    dict[actor]+=profits
                else:
                    dict[actor]=0
                continue
return dict

dict

In [67]:
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

sum_gen=counter(data,'cast')
for gen in sum_gen.index:
    sum_gen[gen] = data['profit'][data['cast'].map(lambda x: True if gen in x else False)].sum()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen.head()

                            0
Emma Watson        6666245597
Daniel Radcliffe   6514990281
Rupert Grint       6408638290
Ian McKellen       6087375777
Robert Downey Jr.  5316030161

In [ ]:
answer_ls.append(1)

# 17. Какой актер принес меньше всего прибыли в 2012 году?
Варианты ответов:
1. Nicolas Cage
2. Danny Huston
3. Kirsten Dunst
4. Jim Sturgess
5. Sami Gayle

In [71]:
data_2012 = data[data['release_year']==2012]


def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

sum_gen=counter(data_2012,'cast')
for gen in sum_gen.index:
    sum_gen[gen] = data_2012['profit'][data_2012['cast'].map(lambda x: True if gen in x else False)].sum()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=True)
sum_gen.head()

                       0
Kirsten Dunst  -68109207
Heidi Hawkins  -51893525
James Kidnie   -51893525
Timothy Spall  -51893525
Malin Ã…kerman -43733509

In [ ]:
answer_ls.append(1)

# 18. Какой актер снялся в большем количестве высокобюджетных фильмов? (в фильмах где бюджет выше среднего по данной выборке)
Варианты ответов:
1. Tom Cruise
2. Mark Wahlberg 
3. Matt Damon
4. Angelina Jolie
5. Adam Sandler

In [385]:
data_bb = data[data['budget']>data['budget'].mean()]
pd.DataFrame(data_bb.cast.str.split('|').tolist()).stack().value_counts()

Matt Damon            18
Adam Sandler          17
Angelina Jolie        16
Eddie Murphy          15
Tom Cruise            15
Samuel L. Jackson     15
Hugh Jackman          14
Jamie Foxx            14
Ben Stiller           14
Russell Crowe         14
Mark Wahlberg         14
Johnny Depp           13
Jude Law              13
Bruce Willis          13
Will Smith            13
Robert De Niro        12
Nicolas Cage          12
Brad Pitt             12
Ian McKellen          12
Dwayne Johnson        12
Cameron Diaz          12
Owen Wilson           12
Robert Downey Jr.     11
Daniel Craig          11
Leonardo DiCaprio     11
Steve Buscemi         11
Denzel Washington     10
Mark Ruffalo          10
Gary Oldman           10
Vin Diesel            10
                      ..
Jeremy Northam         1
Haley Joel Osment      1
Jonathan Lipnicki      1
Rhys Ifans             1
Glenn Morshower        1
Simon Baker            1
Chris O'Dowd           1
Daniela Ruah           1
Dick Van Dyke          1
Nancy Cartwright       1
Noah Emmerich          1
Patrick Dempsey        1
John Ortiz             1
Shawn Roberts          1
Joely Richardson       1
Jesper Christensen     1
James Woods            1
Kip Pardue             1
Meagan Good            1
Jenna Stern            1
Jack Bright            1
Bruno Campos           1
William Atherton       1
Craig T. Nelson        1
Kevin Zegers           1
Kevin Conway           1
Andrea Riseborough     1
C. Thomas Howell       1
Mireille Enos          1
Kaya Scodelario        1
Length: 1508, dtype: int64

In [ ]:
answer_ls.append(1)

# 19. В фильмах какого жанра больше всего снимался Nicolas Cage?  
Варианты ответа:
1. Drama
2. Action
3. Thriller
4. Adventure
5. Crime

In [372]:
data_nk = data[data['cast'].str.contains('Nicolas Cage')]
pd.DataFrame(data_nk.genres.str.split('|').tolist()).stack().value_counts()

Action             17
Thriller           15
Drama              12
Crime              10
Fantasy             8
Adventure           7
Comedy              6
Science Fiction     4
Family              3
Animation           3
Mystery             3
History             2
Horror              1
War                 1
Romance             1
dtype: int64

In [383]:
data_plot=data['genres'].str.cat(sep='|')
dat=pd.Series(data_plot.split('|'))
info=dat.value_counts(ascending=False)
info

Drama              782
Comedy             683
Thriller           597
Action             583
Adventure          416
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            223
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             20
Documentary          8
Foreign              2
dtype: int64

In [ ]:
answer_ls.append(1)

# 20. Какая студия сняла больше всего фильмов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [332]:
pd.DataFrame(data.production_companies.str.split('|').tolist()).stack().value_counts()

Universal Pictures                        173
Warner Bros.                              168
Paramount Pictures                        122
Columbia Pictures                         117
Twentieth Century Fox Film Corporation    109
Relativity Media                           99
New Line Cinema                            88
Walt Disney Pictures                       82
Village Roadshow Pictures                  63
DreamWorks SKG                             62
Touchstone Pictures                        58
Regency Enterprises                        49
Metro-Goldwyn-Mayer (MGM)                  48
Columbia Pictures Corporation              47
Dune Entertainment                         44
Summit Entertainment                       41
Miramax Films                              39
Dimension Films                            37
Fox 2000 Pictures                          35
Lionsgate                                  35
Legendary Pictures                         34
Spyglass Entertainment                     32
Screen Gems                                31
Revolution Studios                         30
Original Film                              29
The Weinstein Company                      28
New Regency Pictures                       28
Working Title Films                        27
DreamWorks Animation                       26
Imagine Entertainment                      25
                                         ...
Frontier Pictures                           1
JLT Productions                             1
Foqus Arte Digital                          1
Rickshaw Productions                        1
Lennox House Films                          1
RAMCO                                       1
Captivate Entertainment                     1
K5 International                            1
Antena 3 TelevisiÃ³n                        1
SNL Studios                                 1
Lucasfilm Ltd.                              1
Universal Cartoon Studios                   1
Element Films                               1
RabbitBandini Productions                   1
Michaels-Goldwyn                            1
Le Grisbi Productions                       1
What to Expect Productions                  1
Film Department, The                        1
Persistent Entertainment                    1
Butcher's Run Films                         1
Omega Entertainment                         1
Outerbanks Entertainment                    1
Infinite Frameworks Studios                 1
Alloy Entertainment                         1
Constantin Film Ltd.                        1
Inferno International                       1
Alberto Grimaldi Productions                1
LBI Productions                             1
Toff Guy Films                              1
Hart-Sharp Entertainment                    1
Length: 1772, dtype: int64

In [ ]:
answer_ls.append(1)

# 21. Какая студия сняла больше всего фильмов в 2015 году?
Варианты ответа:
1. Universal Pictures
2. Paramount Pictures
3. Columbia Pictures
4. Warner Bros
5. Twentieth Century Fox Film Corporation

In [343]:
data_2015 = data[data['release_year']==2015]
pd.DataFrame(data_2015.production_companies.str.split('|').tolist()).stack().value_counts()

Warner Bros.                              12
Universal Pictures                        10
Twentieth Century Fox Film Corporation     8
Paramount Pictures                         7
Columbia Pictures                          7
TSG Entertainment                          6
RatPac-Dune Entertainment                  5
Blumhouse Productions                      5
New Line Cinema                            5
Legendary Pictures                         5
Working Title Films                        4
Metro-Goldwyn-Mayer (MGM)                  4
Regency Enterprises                        4
Studio Babelsberg                          4
Walt Disney Pictures                       4
Village Roadshow Pictures                  4
Film4                                      3
Cross Creek Pictures                       3
Moving Picture Company (MPC)               3
Fox 2000 Pictures                          3
Scott Free Productions                     3
Lionsgate                                  3
Dentsu                                     3
Media Rights Capital                       3
Sony Pictures Entertainment (SPE)          3
LStar Capital                              3
Summit Entertainment                       3
Temple Hill Entertainment                  2
Gary Sanchez Productions                   2
Route One Films                            2
                                          ..
Chernin Entertainment                      1
Cube Vision                                1
Gotham Group                               1
Element Pictures                           1
K. JAM Media                               1
Infinitum Nihil                            1
Flynn Picture Company                      1
Entertainment One Features                 1
Dune Films                                 1
Iron Horse Entertainment (II)              1
Number 9 Films                             1
Color Force                                1
Appian Way                                 1
Miramax Films                              1
Ghost House Pictures                       1
Sunswept Entertainment                     1
Walden Media                               1
Amazon Studios                             1
Onyx Films                                 1
Scholastic Entertainment                   1
Bazelevs Production                        1
Irish Film Board                           1
Allspark Pictures                          1
Spring Creek Productions                   1
Infinite Frameworks Studios                1
David Dobkin Productions                   1
Thunder Road Pictures                      1
Trigger Street Productions                 1
International Traders                      1
On Entertainment                           1
Length: 246, dtype: int64

In [ ]:
answer_ls.append(4)

# 22. Какая студия заработала больше всего денег в жанре комедий за все время?
Варианты ответа:
1. Warner Bros
2. Universal Pictures (Universal)
3. Columbia Pictures
4. Paramount Pictures
5. Walt Disney

In [78]:
data_comedy = data[data.genres.str.contains('Comedy')]
def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data_comedy['profit'][data_comedy['production_companies'].map(lambda x: True if gen in x else False)].sum()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen.head()

                                0
Universal              9130349034
Universal Pictures     8952422726
Twentieth Century Fox  8239362666
Disney                 8006316328
Walt Disney            7975933215

In [ ]:
answer_ls.append(2)

# 23. Какая студия заработала больше всего денег в 2012 году?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Columbia Pictures
4. Paramount Pictures
5. Lucasfilm

In [80]:
data_2012 = data[data['release_year']==2012]

def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

sum_gen=counter(data_2012,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data_2012['profit'][data_2012['production_companies'].map(lambda x: True if gen in x else False)].sum()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen.head()

                             0
Columbia Pictures   2501406608
Universal Pictures  1981011579
Marvel Studios      1299557910
Warner Bros.        1258020056
Relativity Media    1032593938

In [ ]:
answer_ls.append(3)

# 24. Самый убыточный фильм от Paramount Pictures
Варианты ответа:

1. K-19: The Widowmaker tt0267626
2. Next tt0435705
3. Twisted tt0315297
4. The Love Guru tt0811138
5. The Fighter tt0964517

In [316]:
data_param = data[data['production_companies'].str.contains('Paramount Pictures')]
data_param[data_param['profit']==data_param['profit'].min()]['original_title']

926    K-19: The Widowmaker
Name: original_title, dtype: object

In [ ]:
answer_ls.append(1)

# 25. Какой Самый прибыльный год (заработали больше всего)?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2002
5. 2015

In [351]:
data.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2015    18668572378
2014    16397812953
2012    16077001687
2013    15243179791
2011    14730241341
2009    13423744372
2010    13117292530
2008    11663881990
2007    11565911801
2004     9634180720
2003     9228823312
2002     9002361487
2005     8981925558
2006     8691077320
2001     7950614865
2000     6101399805
Name: profit, dtype: int64

In [ ]:
answer_ls.append(5)

# 26. Какой Самый прибыльный год для студии Warner Bros?
Варианты ответа:
1. 2014
2. 2008
3. 2012
4. 2010
5. 2015

In [370]:
data_wb = data[data['production_companies'].str.contains('Warner Bros.')]
data_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

release_year
2014    2295464519
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1855493377
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1343545668
2012    1258020056
2002    1022709901
2015     870368348
2006     620170743
2000     452631386
Name: profit, dtype: int64

In [ ]:
answer_ls.append(1)

# 27. В каком месяце за все годы суммарно вышло больше всего фильмов?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [130]:
data['release_date'] = pd.to_datetime(data['release_date'])
data['release_date'].dt.month.value_counts().sort_values()

1     110
2     135
5     140
7     142
11    146
6     147
4     149
3     156
8     161
10    186
12    191
9     227
Name: release_date, dtype: int64

In [ ]:
answer_ls.append(4)

# 28. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)
Варианты ответа:
1. 345
2. 450
3. 478
4. 523
5. 381

In [346]:
data[(data['release_date'].dt.month>5) & (data['release_date'].dt.month<9)]['imdb_id'].count()

450

In [ ]:
answer_ls.append(2)

# 29. Какой режисер выпускает (суммарно по годам) больше всего фильмов зимой?
Варианты ответов:
1. Steven Soderbergh
2. Christopher Nolan
3. Clint Eastwood
4. Ridley Scott
5. Peter Jackson

In [352]:
data[(data['release_date'].dt.month<2)|(data['release_date'].dt.month>10)]['director'].value_counts()

Peter Jackson                    8
Clint Eastwood                   7
Steven Soderbergh                6
Adam Shankman                    4
Francis Lawrence                 4
Robert Zemeckis                  4
Ron Howard                       4
Nancy Meyers                     4
Martin Scorsese                  4
Edward Zwick                     4
Ridley Scott                     3
Rob Marshall                     3
Tony Scott                       3
Shawn Levy                       3
Bobby Farrelly|Peter Farrelly    3
Tim Burton                       3
Martin Campbell                  3
Steven Spielberg                 3
Chris Columbus                   3
Mikael HÃ¥fstrÃ¶m                2
Sylvester Stallone               2
Steve Carr                       2
Mike Nichols                     2
Brett Ratner                     2
David S. Goyer                   2
Guy Ritchie                      2
Brad Bird                        2
Cameron Crowe                    2
Gabriele Muccino                 2
Michael Mann                     2
                                ..
Dominic Sena                     1
John Woo                         1
Rob Minkoff                      1
David Frankel                    1
Simon West                       1
John Hamburg                     1
Anthony Hemingway                1
Tarsem Singh                     1
Dean Parisot                     1
David Koepp                      1
Alex Garland                     1
Christopher Nolan                1
Anand Tucker                     1
Jason Moore                      1
Troy Nixey                       1
John Erick Dowdle                1
David Dobkin                     1
Kevin Lima                       1
Robert De Niro                   1
Charles Stone III                1
Jim Gillespie                    1
Will Gluck                       1
Patty Jenkins                    1
Chris Noonan                     1
Catherine Hardwicke              1
Chris Buck|Jennifer Lee          1
Walter Hill                      1
Donald Petrie                    1
Russell Crowe                    1
Kirsten Sheridan                 1
Name: director, Length: 341, dtype: int64

In [ ]:
answer_ls.append(5)

# 30. Какой месяц чаще всего по годам самый прибыльный?
Варианты ответа:
1. Январь
2. Июнь
3. Декабрь
4. Сентябрь
5. Май

In [177]:
data['release_month']=data['release_date'].dt.month
time_table = data.groupby(['release_month','release_year'])['profit'].sum().reset_index()
time_table.groupby(['release_month','release_year'])['profit'].max().sort_values()

release_month  release_year
1              2000             -26344591
               2002              13657034
9              2001              21874909
1              2007              91188025
4              2000             124362846
1              2001             127876758
               2006             138996816
4              2007             143245753
1              2003             145423503
10             2001             146204533
               2005             154493344
3              2003             160261385
9              2000             175306761
2              2001             178360689
4              2005             178673498
1              2004             223449403
               2010             233051923
7              2006             242337901
3              2008             251671904
8              2000             264018332
               2005             266644459
4              2004             275005057
3              2004             307233119
2              2000             310137593
               2006             317624889
8              2008             325382603
2              2009             326413800
8              2004             332763539
9              2008             339476350
4              2002             343737203
                                  ...
5              2013            1724496337
               2008            1744305931
10             2014            1764509467
4              2012            1767272417
3              2014            1768873778
9              2015            1775686025
7              2008            1791301749
12             2007            1831805203
               2002            1848074177
               2003            1862594516
5              2011            1917491757
12             2014            1919080286
6              2008            1943384763
5              2003            2000292657
               2007            2042169546
11             2014            2043956761
               2013            2047380217
6              2006            2098059770
5              2014            2279978281
7              2011            2331661017
6              2013            2411922008
5              2004            2412578839
11             2012            2412991475
6              2010            2449561498
4              2015            2602565518
6              2007            2764341802
12             2015            2777325507
6              2012            2965481705
12             2009            3423239738
6              2015            3757679861
Name: profit, Length: 192, dtype: int64

In [ ]:
answer_ls.append(1)

# 31. Названия фильмов какой студии в среднем самые длинные по количеству символов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [111]:
#### Поспешил с ответом на платформе. Не обратил внимание на формулировку в среднем....

data['title_length'] = data['original_title'].map(lambda x: len(x))

def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen.head()

                            0
Four By Two Productions    83
Jim Henson Company, The    59
Dos Corazones              47
Museum Canada Productions  46
Polsky Films               46

In [ ]:
answer_ls.append(5)

# 32. Названия фильмов какой студии в среднем самые длинные по количеству слов?
Варианты ответа:
1. Universal Pictures (Universal)
2. Warner Bros
3. Jim Henson Company, The
4. Paramount Pictures
5. Four By Two Productions

In [112]:
data['title_length'] = data['original_title'].map(lambda x: len(x.split(' ')))

def counter(movie_bd, x):
    data_plot=movie_bd[x].str.cat(sep='|')
    dat=pd.Series(data_plot.split('|'))
    info=dat.value_counts(ascending=False)
    return info

sum_gen=counter(data,'production_companies')
for gen in sum_gen.index:
    sum_gen[gen] = data['title_length'][data['production_companies'].map(lambda x: True if gen in x else False)].mean()
sum_gen = pd.DataFrame(sum_gen).sort_values(0, ascending=False)
sum_gen.head()

                          0
Four By Two Productions  12
Jim Henson Company, The  10
The Saul Zaentz Company   9
Polsky Films              9
Dos Corazones             9

In [ ]:
answer_ls.append(1)

# 33. Сколько разных слов используется в названиях фильмов?(без учета регистра)
Варианты ответа:
1. 6540
2. 1002
3. 2461
4. 28304
5. 3432

In [120]:
words = set()
for i in data['original_title'].tolist():
    for j in i.lower().split():
        words.add(j)
print(len(words))

2461

In [ ]:
answer_ls.append(1)

# 34. Какие фильмы входят в 1 процент лучших по рейтингу?
Варианты ответа:
1. Inside Out, Gone Girl, 12 Years a Slave
2. BloodRayne, The Adventures of Rocky & Bullwinkle
3. The Lord of the Rings: The Return of the King
4. 300, Lucky Number Slevin

In [ ]:
data.groupby(['original_title'])[]

In [125]:
data[data['vote_average']>data.quantile(0.99, numeric_only=True)['vote_average']]['original_title']

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
600                                   The Dark Knight
873                                       The Pianist
1082    The Lord of the Rings: The Return of the King
1184                          The Wolf of Wall Street
1192                                 12 Years a Slave
1801                                          Memento
Name: original_title, dtype: object

In [ ]:
answer_ls.append(1)

# 35. Какие актеры чаще всего снимаются в одном фильме вместе
Варианты ответа:
1. Johnny Depp & Helena Bonham Carter
2. Hugh Jackman & Ian McKellen
3. Vin Diesel & Paul Walker
4. Adam Sandler & Kevin James
5. Daniel Radcliffe & Rupert Grint

In [186]:
#### попробовал примитивно....
c1 = 0
c2 = 0
c3 = 0
c4 = 0
c5 = 0
list = data['cast'].str.split('|').tolist()
for names in list:
    for name in str(names):
        if 'Johnny Depp' and 'Helena Bonham Carter' in names:
            c+=1
        elif 'Hugh Jackman' and 'Ian McKellen'in names:
            c2+=1
        elif 'Vin Diesel' and 'Paul Walker'in names:
            c3+=1
        elif 'Adam Sandler' and 'Kevin James' in names:
            c4+=1
        elif 'Daniel Radcliffe' and 'Rupert Grint' in names:
            c5+=1
      
print(c1,c2,c3,c4,c5)

TypeError: Could not operate 1 with block values can only concatenate str (not "int") to str

In [ ]:
answer_ls.append(1)

# 36. У какого из режиссеров выше вероятность выпустить фильм в прибыли? (5 баллов)101
Варианты ответа:
1. Quentin Tarantino
2. Steven Soderbergh
3. Robert Rodriguez
4. Christopher Nolan
5. Clint Eastwood

In [167]:
### На платформе вопрос звучит так:  какого из режиссеров самый высокий процент фильмов со сборами выше бюджета?

table_1 = data[data['profit']>0]['director'].value_counts().reset_index()
table_2 = data['director'].value_counts().reset_index()
table_1.columns = ['director','profit_film_number']
table_2.columns = ['director','film_number']
joined = table_1.merge(table_2, on='director', how='left' )
joined['score']=joined['profit_film_number']/joined['film_number']
joined[joined['score']==joined['score'].max()]

,director,profit_film_number,film_number,score
0,Ridley Scott,12,12,1.0
3,Steven Spielberg,10,10,1.0
5,Peter Jackson,8,8,1.0
6,Tim Burton,8,8,1.0
7,Christopher Nolan,8,8,1.0
8,Michael Bay,8,8,1.0
9,Antoine Fuqua,8,8,1.0
11,Brett Ratner,7,7,1.0
17,David Fincher,6,6,1.0
18,Andy Fickman,6,6,1.0
21,Robert Zemeckis,6,6,1.0
22,Tim Story,6,6,1.0
23,Peter Segal,6,6,1.0
25,Zack Snyder,6,6,1.0
26,Francis Lawrence,6,6,1.0
27,Sam Raimi,6,6,1.0
28,Raja Gosnell,6,6,1.0
29,Adam McKay,6,6,1.0
30,James Mangold,5,5,1.0
31,Quentin Tarantino,5,5,1.0
34,J.J. Abrams,5,5,1.0
35,Jaume Collet-Serra,5,5,1.0
36,Nancy Meyers,5,5,1.0
37,Louis Leterrier,5,5,1.0
38,Jon Favreau,5,5,1.0
39,Bryan Singer,5,5,1.0
40,Doug Liman,5,5,1.0
41,Sam Mendes,5,5,1.0
42,Roland Emmerich,5,5,1.0
43,John Singleton,5,5,1.0
...,...,...,...,...
741,Scott Waugh,1,1,1.0
743,Dean Parisot,1,1,1.0
744,Lilly Wachowski|Lana Wachowski|Tom Tykwer,1,1,1.0
745,Dustin Hoffman,1,1,1.0
746,Kirsten Sheridan,1,1,1.0
747,Shari Springer Berman|Robert Pulcini,1,1,1.0
748,Edward Norton,1,1,1.0
749,Robert Rodriguez|Ethan Maniquis,1,1,1.0
750,Sydney Pollack,1,1,1.0
751,Amma Asante,1,1,1.0
752,Chris Miller|Raman Hui,1,1,1.0
753,Chris Gorak,1,1,1.0
755,Sylvain White,1,1,1.0
756,Anthony Silverston,1,1,1.0
757,Anthony Bell|Ben Gluck,1,1,1.0
758,Michael Winterbottom,1,1,1.0
760,Ronny Yu,1,1,1.0
761,John Lasseter|Brad Lewis,1,1,1.0
762,Juan Carlos Fresnadillo,1,1,1.0
763,David Soren,1,1,1.0
764,Jorge Blanco|Javier Abad|Marcos MartÃ­nez,1,1,1.0
765,Pat O'Connor,1,1,1.0
766,Stuart Baird,1,1,1.0
767,Stephen J. Anderson,1,1,1.0
768,Alexander Witt,1,1,1.0
769,Gavin O'Connor,1,1,1.0
770,Sharon Maguire,1,1,1.0
771,Steve McQueen,1,1,1.0
772,Bruce A. Evans,1,1,1.0
773,Nicholas Hytner,1,1,1.0

In [ ]:
answer_ls.append(1)

# Submission

In [6]:
len(answer_ls)

0

In [5]:
pd.DataFrame({'Id':range(1,len(answer_ls)+1), 'Answer':answer_ls}, columns=['Id', 'Answer'])

Empty DataFrame
Columns: [Id, Answer]
Index: []